<h1>物件一覧</h1>

<table>
<tr>
<th>物件名</th>
<th>賃料</th>
<th>住所</th>
<th>築年数</th>
<th>備考</th>
</tr>


<% @informaitions.each do |informaition| %>
<tr>
<td><%= informaition.name %></td>
<td><%= informaition.rent %></td>
<td><%= informaition.address %></td>
<td><%= informaition.age %></td>
<td><%= informaition.remark %></td>
<td><%= link_to '詳細', informaition_path(informaition.id) %></td>
<td><%= link_to '編集', edit_informaition_path(informaition.id) %></td>
<td><%= link_to '削除', informaition_path(informaition.id), method: :delete %></td>
</tr>
<% end %>
<tr>

<td></td>
<td></td>
</tr>



</table>
<%= link_to '物件を登録する', informaitions_path %>



